body{
    background: url(https://source.unsplash.com/collection/190727/1600x900);
    background-size: cover;
    background-position:ceter;
    font-family: Lato;
  
}
#content{
    text-align: center;
    padding-top: 25%;

}
